<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All chats</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h3>All chats !</h3>
    <br />
    <form action="/chats/new">
        <button>Add new Chat</button>
    </form>
    <% for(let chat of chats ) { %>
    <div class="chat">
      <p>From : <i><%= chat.from %></i></p>
                <div class="msg">
                     <p><%= chat.msg %></p>
                     <form method="GET" action="/chats/<%=chat._id%>/edit">
                      <button> Edit </button>
                     </form>
                </div>

      <p>Received By <i><%= chat.to %></i></p>
      <hr>
      <p>   <%= chat.created_at.toString().split(" ")[4] %>         </p>
      <p>   <%= chat.created_at.toString().split(" ").slice(0,4).join(" ")     %>     </p>
      <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE">
        <button>Delete chat</button>
      </form>
      <form action="/chats/<%=chat._id%>">
        <button>Show</button>
      </form>
    </div>
      <br><br>
      
    <% } %>
   
  </body>
</html>
